language: go

go:
    - "1.14"
    - "1.15"
    - "1.16"

before_install:
    - go get github.com/mattn/goveralls

script:
    - go test -v -race -covermode=atomic -coverprofile=coverage.out

after_success:
    - $GOPATH/bin/goveralls -coverprofile=coverage.out -service=travis-ci # upload to `coveralls`
    - bash <(curl -s https://codecov.io/bash) # upload to `codecov`
